.page {
    align-self: center;
    align-content: center;
    justify-content: stretch;
    padding: 5%;
}

.header {
    width: 100%;
    top: 0;
    text-align: center;
    z-index: 0;
}

.card {
    border-radius: 15px;
    box-shadow: 0 0 40px -3px #d9dede;
    width: 100%;
    padding: 20px;
    align-items: stretch;
    align-self: center;
}

.card .tag {
    background-color: blueviolet;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.card .tags {
    margin-top: 5px;
}